split-pane {
  ion-icon {
    width: 47px;
  }

  .selected-button {
    background-color: #DDDDDD;
  }

  #side-bar-settings-button {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}
