client/src/app/config.ts
client/coverage

.firebase/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea

# IDE - VSCode
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
functions/src/config.ts
