#filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#details {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 300px;
  padding: 0;
  margin: auto;
  color: white;
  background-color: #222222;
  z-index: 2;
  overflow-y: scroll;
}
