* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  z-index: 1
}

#logo {
  position: fixed;
  top: 0;
  left: 40px;
  width: 250px;
  height: 80px;
  line-height: 60px;
  font-size: 50px;
  padding: 10px;
  box-sizing: border-box;
  color: #1997F0;
}

#login {
  position: fixed;
  top: 0;
  right: 60px;
  line-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  color: #1997F0;
}

#login:hover {
  background-color: #EEEEEE;
}

#main {
  margin: auto;
  width: 1100px;
  height: 100vh;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  z-index: 0;
}

#copyright { text-align: center; }

#main img {
  width: 250px;
  margin: 5px;
  box-shadow: 0 0 0 gray;
  transition: all 0.2s;
}

#main img:hover {
  box-shadow: 0 0 10px gray;
}
