#title {
  text-align: center;
  font-size: 2em;
}

#desc, #isbn, #pageCount {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

@media (max-width: 420px) {
  #image {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
