<ion-header>
  <ion-navbar>
    <ion-title>本棚</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center justify-content-around id="books-row">
      <ion-col col-auto text-center>
        <div class="book-addition-button" (click)="addBook()" padding-vertical>
          <h2>本の追加</h2>
          <ion-icon name="add-circle" color="white"></ion-icon>
        </div>
      </ion-col>
      <ion-col *ngFor="let book of registeredBooks" col-auto>
        <book-widget [book]="book"></book-widget>
      </ion-col>
      <ion-col *ngFor="let _ of additions" col-auto>
        <div class="empty"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
