<ion-header>
  <ion-navbar>
    <ion-title>本棚</ion-title>

    <ion-buttons end>
      <settings-button></settings-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="ISBN (13桁) を入力して本を検索"></ion-searchbar>
  <ion-grid>
    <ion-row align-items-center justify-content-around id="books-row">
      <ion-col *ngFor="let book of books$ | async" col-auto>
        <book-widget [book]="book"></book-widget>
      </ion-col>
      <ion-col *ngFor="let _ of additions" col-auto>
        <div class="empty"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
