<!--<ng-container *ngFor="let book of books">
  <app-book [number]="book.number"></app-book>
</ng-container>-->

<input type="text" name="text" [(ngModel)]="content" placeholder="ISBN(10 or 13文字)">
<button class="btn btn-primary" (click)="search(content)">検索</button>

<div class="modal fade" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">エラー</h4>
      </div>
      <div class="modal-body">
        ISBNは10文字または13文字で入力してください
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<br>

<ng-container *ngFor="let hitBook of hitBooks">
  <img src="{{ hitBook }}">
</ng-container>
