search-by-isbn-modal {
  div.book {
    width: 128px;
    box-sizing: border-box;
    padding: 5px;

    img {
      display: block;
      width: 128px;
      height: auto;
      margin: auto;
    }
  }
}
