<button id="back" class="btn btn-dark" routerLink="/">戻る</button><br>
<input id="isbn" type="text" name="text" [(ngModel)]="content" placeholder="ISBN(10 or 13文字)">
<button id="search" class="btn btn-primary" (click)="search(content)">検索</button>

<div class="modal fade" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">エラー</h4>
      </div>
      <div class="modal-body">
        ISBNは10文字または13文字で入力してください
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<br>

<ng-container *ngFor="let hitBook of hitBooks">
  <app-book [title]="hitBook.title"
      [author]="hitBook.author"
      [desc]="hitBook.desc"
      [isbn]="hitBook.isbn"
      [image]="hitBook.image"></app-book>
</ng-container>
